:root {
  --flight-distances: -400px;
  --flight-time: 3s;
}

.layoutContainer {
  padding: 20px;
}

.emojiContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  user-select: none;

  animation: move var(--flight-time) linear;
}
.emojiAnimatedContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  user-select: none;

  animation: move var(--flight-time) linear;
}

.emoji {
  font-size: 1.3rem;
  position: relative;
  user-select: none;

  animation: rotation var(--flight-time) linear;
}
.emojiAnimated {
  font-size: 1.3rem;
  position: relative;
  user-select: none;

  animation: rotation var(--flight-time) linear;
}

.emojiNick {
  font-size: 0.7rem;
  margin: 0;
  border-radius: 0.6rem;
  padding: 0px 2px;
  position: relative;
  user-select: none;
  background-color: bisque;
  /* color: "#556cd6"; */
}

.statEmojiBox {
  min-height: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.statEmoji {
  font-size: 1.3rem;
}

.statEmojiCount {
  margin: 0;
  border-radius: 0.7rem;
  padding: 0px 5px;
  position: relative;
  user-select: none;
  background-color: bisque;
}

@keyframes move {
  0% {
    transform: translateY(0%);
    opacity: 1;
  }
  30% {
    opacity: 1;
  }

  60% {
    opacity: 1;
  }

  100% {
    transform: translateY(var(--flight-distances));
    opacity: 0;
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0);
  }
  30% {
    transform: rotate(20deg);
  }

  60% {
    transform: rotate(-20deg);
  }

  100% {
    transform: rotate(0);
  }
}
